<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.capra.handler.reqif.ReqIFHandler"
         point="org.eclipse.capra.configuration.artifactHandler">
      <artifactHandler
            class="org.eclipse.capra.handler.reqif.ReqIFHandler">
      </artifactHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.chess.preferences"
            class="org.eclipse.capra.handler.reqif.preferences.ReqIFPreferencePage"
            id="org.polarsys.chess.mobius.page"
            name="ReqIF Display Preferences">
      </page>
   </extension>
</plugin>
